<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Jenis Barang</th>
	  <th scope="col">Alamat pengriman</th>
      <th scope="col">Berat Barang</th>
      <th scope="col">Pembayaran</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Baju</td>
	  <td>-</td>
      <td>1/2 kg</td>
      <td>Rp.29.000</td>
    </tr>
    <tr>
      <td>Sepatu</td>
	  <td>-</td>
      <td>-</td>
      <td>Rp.35.000</td>
    </tr>
    <tr>
      <td>Kosmetik</td>
	  <td>-</td>
      <td>-</td>
      <td>Rp.19.000</td>
    </tr>
  </tbody>
</table>
