<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Barang yang akan diantar</th>
      <th scope="col">Alamat</th>
      <th scope="col">Bukti barang sudah diterima atau belum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Septau</td>
      <td>Jl....</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Tas</td>
      <td>Jl....</td>
      <td>-</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Lain-lain</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
