<form class="form-inline">
  <div class="form-group mb-2">
    <label for="staticEmail2" class="sr-only">Masukkan Nomor Resi</label>
    <input type="text" readonly class="form-control-plaintext" id="staticNomor Resi" value="Masukkan Nomor Resi">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">*********</label>
    <input type="password" class="form-control" id="inputNomor Resi" placeholder="">
  </div>
  <button type="submit" class="btn btn-primary mb-2">OK</button>
</form>
