
<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <a class="navbar-brand" href="#">SI-UAD</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li> 
	  <li class="nav-item">
        <a class="nav-link" routerLink="/pengirim" routerLinkActive="active">Pengirim</a>
      </li> 
	  <li class="nav-item">
        <a class="nav-link" routerLink="/tellerPos" routerLinkActive="active">Teller pos</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" routerLink="/kepalaGudang" routerLinkActive="active">Kepala gudang</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" routerLink="/tukangPos" routerLinkActive="active">Tukang pos</a>
      </li>
	  <li class="nav-item">
        <a class="nav-link" routerLink="/penerima" routerLinkActive="active">Penerima</a>
      </li>
	  
     
    </ul>
  
  </div>
</nav>




<router-outlet></router-outlet>


