<div class="container-fluid">
<h3>
  HOME PAGE
</h3>


<table border ="2">
<tr>

   <td><ul class="list-group"><li class="list-group-item" *ngFor="let n of dataContent">{{n.alamat}}</li></ul></td>
   <td><ul class="list-group"><li class="list-group-item" *ngFor="let n of dataContent">{{n.name}}</li></ul></td>
 </tr>
 </table>


</div>
