<table class="table">
  <thead class="thead-dark">
    <tr>
	  <th scope="col">Nama barang yang siap kirim</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1. Baju</th>
    </tr>
    <tr>
      <th scope="row">2. Sepatu</th>
    </tr>
    <tr>
      <th scope="row">3. Lain-lain</th>
</tr>
  </tbody>
</table>